<div class="container">
    <div class="repo_card"  >
        <div class="header_repo">
            <p class="title_user">{{this.username + ' ' + 'repositories' | titlecase}}</p>
            <button class="favourite_repos" (click)="listOfFavourite($event)" >Favourite repositories</button>
            
        </div>
       
        <div class="inner_repo_card" *ngFor="let repo of repos">
            <div class="text_card_repo" (click)="openInfoReposDialog(repo.name,repo.has_issues,repo.language,repo.html_url)">
                <p>Name: {{repo.name}}</p>
                <p>Description: {{repo.description}}</p>
            </div>
            <div class="icons">
                <button>
                    <a href="https://github.com/{{this.username}}/{{repo.name}}/archive/master.zip" download>
                        <img src = '../../../assets/img/download.svg'></a>
                </button>
                <button (click) = "removeRepos(repo.id)">
                    <img src = '../../../assets/img/delete.svg'>
                </button>
                
                <button (click) = "addToFavouriteRepo(repo.name)" >
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                       
                        <path  [ngClass]="{active:isAddToFavourite}"  d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 
                        3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                 
                    </svg>
                </button>
                    <!-- <img src = '../../../assets/img/star.svg' (click)="addToFavouriteRepo()"> -->
                
            </div>
        </div>
    </div>
</div>
